<!doctype html>
<html>
	<head>
		<title>MVNV</title>
		<meta charset="utf-8">

		<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/select2/select2.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="/css/mvnv.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">MVNV</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><a href="/new">Neu</a></li>
							<li><a href="/scores">Alle Noten</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<section class="container">
			{{$content}}Main content.{{/content}}
		</section>
		<footer>
			<div class="container">
				Musikverein Notenverwaltung, 2013
			</div>
		</footer>

		<script src="/js/jquery.js"></script>
		<script src="/select2/select2.js"></script>
		<script src="/js/tags.js"></script>
	</body>
</html>
