<!doctype html>
<html>
	<head>
		<title>MVNV</title>
		<meta charset="utf-8">
	</head>
	<body>
		<nav>
			<a href="/">MVNV</a>
		</nav>
		<section>
			{{$content}}Main content.{{/content}}
		</section>
		<footer>
			Musikverein Notenverwaltung, 2013
		</footer>
	</body>
</html>
