{{! Lists scores in a table. }}
<table class="scores table table-hover">
	<tr>
		<th>ID</th>
		<th>Titel</th>
		<th>Komponist</th>
	</tr>
	{{#scores}}
		<tr>
			<td><a href="/racks/by/score/{{id}}">{{id}}</a></td>
			<td><a href="/scores/{{_id}}"><b>{{title}}</b></a></td>
			<td>{{composer}}</td>
		</tr>
	{{/scores}}
</table>
