{{! Form for creating or editing scores. }}

<form method="POST" action="/scores">
	<input name="_method" type=hidden value="{{method}}">
	<fieldset>
		<legend>Notensatz</legend>

		<label>ID</label>
		<input autofocus name=id type=number min=1 value="{{id}}">
		<label>Titel</label>
		<input name=title required type=text placeholder="Die Rheinreise" value="{{title}}">
		<label>Komponist</label>
		<input name=composer required type=text placeholder="Thorsten Wollmann" value="{{composer}}">
		<label>Jahr</label>
		<input name=year type=number min=1000 placeholder=2011 max=3000 value="{{year}}">
		<label>Verlag</label>
		<input name=publisher type=text list=publishers placeholder="RUNDEL Publications" value="{{publisher}}">
		<label>Tags <small>(Trennung mit Kommas)</small></label>
		<input name=tags type=text class="tags-input" list=tags placeholder="Muttertag 2013, Konzert" value="{{getTags}}">

		{{! autocompletion }}
		<datalist id=publishers>
			{{#publishers}}
				<option value="{{.}}">
			{{/publishers}}
		</datalist>
		<datalist id=tags>
			{{#taglist}}
				<option value="{{.}}">
			{{/taglist}}
		</datalist>

		{{! Identification for editing }}
		{{#_id}}
			<input name="_id" type=hidden value="{{_id}}">
		{{/_id}}
		<div class="form-actions">
			<button type="submit" class="btn">Speichern</button>
		</div>
	</fieldset>
</form>
