{{! Search form for scores. }}
<form action="/scores/search" class="input-append span3">
    <label>Suche:</label>
    <input name=q type=search class="span2" value="{{search}}">
    <button class="btn" type="submit"><i class=icon-search></i></button>
</form>
