{{! Home page }}
{{<layout}}
	{{$content}}
		<h1>MVNV</h1>

		{{>messages}}

		<div class=row>
			<form action="/scores/by/id" class="input-append span3">
				<label>Gehe zum Satz mit der ID:</label>
				<input name=id type=number class="span2" value="{{id}}">
				<button class="btn" type="submit">Los!</button>
			</form>

			<form action="/scores/search" class="input-append span3">
				<label>Suche:</label>
				<input name=q type=search class="span2" value="{{search}}">
				<button class="btn" type="submit"><i class=icon-search></i></button>
			</form>
		</div>
	{{/content}}
{{/layout}}
