{{! Home page }}
{{<layout}}
	{{$content}}
		<h1>MVNV</h1>

		{{>messages}}

		<section class=row>
			<form action="/scores/by/id" class="input-append span3">
				<label>Gehe zum Satz mit der ID:</label>
				<input name=id type=number class="span2" value="{{id}}">
				<button class="btn" type="submit">Los!</button>
			</form>

			{{>search_form}}
		</section>
		<section class=tags>
			<h2>Tags</h2>
			{{#tags}}
				<a href="/scores/by/tags/{{.}}" class="label">{{.}}</a>
			{{/tags}}
		</section>
	{{/content}}
{{/layout}}
