{{! Lists racks. }}
{{<layout}}
	{{$content}}
		<h1>Notenschränke</h1>

		{{>messages}}

		<ul class="racks">
			{{#racks}}
				<li><a href="/racks/{{_id}}">{{name}}</a></li>
			{{/racks}}
		</ul>

		<a href="/racks/new" class=btn><i class=icon-pencil></i> Neu</a>
	{{/content}}
{{/layout}}

