{{! Lists scores. }}
{{<layout}}
	{{$content}}
		<h1>Noten</h1>

		{{>messages}}

		<ul class="scores">
			{{#scores}}
				<li><a href="/scores/{{_id}}"><b>{{title}}</b> von {{composer}}</a></li>
			{{/scores}}
		</ul>
	{{/content}}
{{/layout}}
