{{! Shows a single score. }}
{{<layout}}
	{{$content}}
		<h1>Notensatz</h1>

		{{>messages}}

		{{#score}}
			<h2>{{title}}</h2>
			<dl class="dl-horizontal">
				<dt>ID</dt>
				<dd>
					{{id}}
					{{#rack}}
						<a href="/racks/{{_id}}">
							({{name}})
						</a>
					{{/rack}}
					{{^id}}<i class=muted>?</i>{{/id}}
				</dd>
				<dt>Komponist</dt>
				<dd>{{composer}}</dd>
				<dt>Jahr</dt>
				<dd>{{year}}{{^year}}<i class=muted>?</i>{{/year}}</dd>
				<dt>Verlag</dt>
				<dd>{{publisher}}{{^publisher}}<i class=muted>?</i>{{/publisher}}</dd>
				<dt>Tags</dt>
				<dd>{{getTags}}{{^tags}}<i class=muted>?</i>{{/tags}}</dd>
			</dl>

			<a class="btn" href="/scores/{{_id}}/edit"><i class=icon-edit></i> Bearbeiten</a>
		{{/score}}
	{{/content}}
{{/layout}}
