{{! Lists scores. }}
{{<layout}}
	{{$content}}
		<h1>Noten</h1>

        {{! Search form only visible when searching. }}
        {{#search}}
            <div class=row>
                {{>search_form}}
            </div>
        {{/search}}

		{{>messages}}

		<nav class=tags>
			{{#tags}}
				<a class="label {{#selected}}label-important{{/selected}}" href="{{url}}">{{tag}}</a>
			{{/tags}}
		</nav>

		{{>score_list}}
	{{/content}}
{{/layout}}
