
body > nav + section {
	margin-top: 60px;
}

body > footer {
	margin-top: 5em;
	height: 5em;
	line-height: 5em;
	background-color: #f5f5f5;
}

/* Select2 tag input */
.tags-input {
	min-width: 206px;
}

/* Have delete buttons show up inline. */
.delete-form {
	display: inline;
}

/* Indicate sortable table heads as clickable. */
th[data-sort] {
	cursor: pointer;
}
